<html>
    <head>
        <title>MongoDB/Spring Boot tutorial from tests4geeks.com</title>
        <link href="<c:url value="/resources/css/responstable.css" />
        <style>
            table, th, td {
                border: 0.5px solid black;
                border-spacing: 0px;
            }
        th, td {
            padding: 10px;
        }
        </style>
    </head>
    <body>
        <h2>List Cars</h2>
        <table class="responstable">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Description</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="car : ${carList}">
                    <td th:text="${car.make}"></td>
                    <td th:text="${car.model}"></td>
                    <td th:text="${car.description}"></td>
                    <td th:text="${car.year}"></td>
                </tr>
            </tbody>
        </table>
        <br />
        <h2>Add Car</h2>
        <form action="/addCar" method="POST">
            <table class="responstable">
               <tr><td>Make </td><td><input type="text" id="make" name="make" /></td></tr>
               <tr><td>Model </td><td><input type="text" id="model" name="model" /></td></tr>
               <tr><td>Year </td><td><input type="text" id="year" name="year" /></td></tr>
               <tr><td> Description </td><td><textarea rows="5" cols="70" id="description" name="description" /></td></tr>
               <tr><td> Description </td><td> <input type="submit" /></td></tr>
            </table>
        </form>
        <h2>Search for cars</h2>
        <form action="/search" method="GET">
            <input type="text" name="search" id="search" th:value="${search}" />
            <input type="submit" value="Search" />
        </form>
    </body>
</html>